span.spoiler_link {
    background: #afafaf;
    border-radius: 5px;
    color: #ffffff;
    padding: 0px 5px 1px 5px;
    text-transform: uppercase;
    cursor: pointer;
}
span.spoiler_link:hover {
    background: #9a9a9a;
}
span.spoiler_text {
    color: #6f6f6f;
}